body {
  background-color: #262626;
  overflow: hidden;
}

.logo {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 20%;
  max-width: 160px;

  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }     
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }